

:root{
    --space: 30px;
}

body {
    margin: 0px auto 0 auto;
    background-color: #D4ECDD;
    font-color: 152D35;
    text-align: center;
    font-family: "Montserrat", serif;
    overflow-x: hidden;
    font-size: 1.5rem;
}

.menu_bar {
    position: fixed;
    right: 0px;
    margin: 10px 10px;
    z-index: 10;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.collapsible {
    width: 35px;
    position: absolute;
    right: 0px;
    right: 0px;
}

.menu_icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius: 10px;
}


.content {
    background-color: transparent;
    padding: 25px 0px;
    display: none;
    overflow: hidden;
}

h1 {
    font-family: "Oswald", serif;
    padding: 70px 0px var(--space) 0px;
    color: #152D35;
    font-size: 6rem;
    margin: 0px;
}


h2 {
    font-family: "Montserrat", serif;
    margin: 0px auto;
    color: #345B63;
    font-size: 2.5rem;
}

h3 {
    font-family: "Montserrat", serif;
    margin-top: 0;
    color: #345B63;
}

.header-link {
    color: #345B63;
    font-family: "Montserrat", serif;
    display: block;
    font-size: 1.0 em;
    margin-before: 1em;
    margin-after: 1em;
    margin-start: 0;
    margin-end: 0;
    font-weight: bold;
    text-decoration: none;
}

.header-link:hover {
    color: #498d76;
}

.pro {
    text-decoration: underline;
}

.top_container {
    position: relative;
    left:0px;
    top: 0px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #D4ECDD;
}

hr {
    border-style:none;
    border-top-style: dotted;
    border-color: #B8CFC1;
    border-width: 7px;
    width: 10%;
    margin: 75px auto 75px auto;
}


.sub_title {
    padding-bottom: 2px;
    font-family: "Montserrat", serif;
    margin-top: 0px;
    font-size: 2.5rem;
    padding: 0px;
    color: #345B63;
}

.thought_container {
    display: grid;
    height: auto;
    position: relative;
    justify-items: center;
    padding-top: var(--space);
}

.bubble_pic {
    width: 400px;
    grid-column: 1;
    grid-row: 1;
}

.trio_container {
    grid-column: 1;
    grid-row: 1;
    height: auto;
    margin:auto;
}

.trio_container_2 {
    position: relative;
    bottom: 90px;
}

.trio_pic {
    display: inline;
    width: 100px;
    padding: 55px 0px 40px 0px;
}

.middle_container {
    padding: 100px 0px var(--space) 0px;
    width: 100%;
    position: relative;
    background-color: #D4ECDD;
}

.profile_container {
    padding: 0px;
    height: auto;
    background-color: #D4ECDD;
    padding-bottom:var(--space);
}

.profile_pic{
    background-color: #D4ECDD;
    width: 225px;
}

p {
 line-height: 2;
}

.bio {
    width: 30%;
    padding: 0px;
    margin: 60px auto;
    text-align: center;
}

.skills {
    margin: 0px 0px;
}

.skill_row {
    width: 50%;
    height: auto;
    margin: 60px auto;
    text-align: left;
    line-height: 2;
}

.skill_pic_container_1 {
    display: block;
    height: auto;
    float: left;
    margin-right: 30px;
}

.skill_pic_container_2 {
    height: auto;
    float: right;
    margin-left: 30px;
}

.skill_text_bottom {
    padding-bottom: 20px;
}

.skill_pic {
    width: 200px;
}

.contact_me {
    width: 50%;
    height: auto;
    margin: 0px auto;
    line-height: 1;
}

.btn {
  background: #D4ECDD;
  background-image: -webkit-linear-gradient(top, #D4ECDD, #6ab085);
  background-image: -moz-linear-gradient(top, #D4ECDD, #6ab085);
  background-image: -ms-linear-gradient(top, #D4ECDD, #6ab085);
  background-image: -o-linear-gradient(top, #D4ECDD, #6ab085);
  background-image: linear-gradient(to bottom, #D4ECDD, #6ab085);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  min-width:100px;
  max-width: 100px;
  text-align: center;
  font-family: "Montserrat", serif;
  color: #152D35;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  border: solid #01080d 1px;
  text-decoration: none;
  position: relative;
  bottom:0;
}

.btn:hover {
  background: #74dea2;
  background-image: -webkit-linear-gradient(top, #74dea2, #4aa879);
  background-image: -moz-linear-gradient(top, #74dea2, #4aa879);
  background-image: -ms-linear-gradient(top, #74dea2, #4aa879);
  background-image: -o-linear-gradient(top, #74dea2, #4aa879);
  background-image: linear-gradient(to bottom, #74dea2, #4aa879);
  text-decoration: none;
  color: #ccec9a;
  cursor:pointer;

}

.ul1 {
    display: in-line;
    padding-top: 30px;
    margin: 0px;
}

ul {
    display: in-line;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

.bottom_container {
    margin: var(--space) auto 0 auto;
    color: #D4ECDD;
    background-color: #345B63;
    padding-top: 30px;
}

.footer-link {
    color: #D4ECDD;
    font-family: "Montserrat", serif;
    margin: 0px 10px 50px 10px;
    text-decoration: none;
    line-height: 1;
}

.footer-link:hover {
    color: white;
}

.copyright {
    font-size: .75rem;
    margin: 25px auto 5px auto;
    padding: 0px;
    line-height: 1;
}

.attributions {
    left: 0px;
    bottom: 0px;
    color: #D4ECDD;
    margin: 0px auto;
    font-size: .75rem;
    line-height: 1;
}

.attribution_link {
    color: #D4ECDD;
    font-size: .75rem;
    text-decoration: none;
    font-family: "Montserrat, serif;
}

.attribution_link:hover {
    color: white;
}

.icons {
    margin: 0px;
}
